<div class="container-flex login">
  <div class="row">
    <div class="col-12">
      <div class="wrapLogin">
          <div class="avatar">
            <i class="fa fa-users"></i>
          </div>
          <h2>Member Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" formControlName="username" placeholder="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading || !loginForm.valid" class="btn dfo-primary">
                    <i title="Login" class="fa fa-sign-in"></i> 
                    Login
                </button> 
            </div>
          </form>

      </div>
    </div>
  </div>
</div>
